body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(70,252,247,1) 100%);
  min-height: 100vh;
  direction: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  
}


